* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
    overflow: hidden;  /* Empêche le défilement */
}

#game-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}

#info {
    margin-bottom: 30px;
}

.info-box {
    margin: 15px 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: left;
}

.info-box p {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#click-btn {
    font-size: 22px;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    box-sizing: border-box;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

#reset-btn {
    background-color: #f44336;  /* Rouge pour la réinitialisation */
    color: white;
}

#upgrade-btn {
    background-color: #f44336;  /* Rouge par défaut */
}

#upgrade-btn.enabled {
    background-color: #4CAF50;  /* Vert lorsque l'amélioration est possible */
}

#upgrade-btn.disabled {
    background-color: #f44336;
    cursor: not-allowed;
}

#wheel-btn {
    background-color: #f39c12;
}

#wheel-btn.enabled {
    background-color: #e67e22;
}

#wheel-btn.disabled {
    background-color: #f39c12;
    cursor: not-allowed;
}

#click-btn:hover {
    background-color: #45a049;
}

button:disabled {
    opacity: 0.5;
}

/* Message affiché après le lancement de la roue */
#message {
    font-size: 20px;
    font-weight: bold;
    color: #2ecc71;
    margin-top: 20px;
}

#argent-text, #gain-text, #upgrade-price-text, #wheel-price-text {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

body.bg-high-wealth {
    background-color: #2c2c2c;
}

body.bg-high-wealthe {
    background-color: #ffbb00;
}

html, body {
    touch-action: none;  /* Désactive le zoom au toucher */
    -ms-touch-action: none;  /* Compatibilité pour les anciens navigateurs */
}

/* Responsive design */
@media (max-width: 600px) {
    #game-container {
        padding: 20px;
    }

    .info-box {
        padding: 10px;
    }

    button {
        padding: 12px 24px;
        font-size: 16px;
    }

    #click-btn {
        font-size: 18px;
    }

    #message {
        font-size: 18px;
    }
}
