* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    color: #333;
    overflow: hidden;  /* Empêche le défilement de la page */
}

/* Container de jeu centré */
#game-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Information générale */
#info {
    margin-bottom: 30px;
}

/* Boîtes d'information */
.info-box {
    margin: 15px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100%;
}

/* Style des textes */
#argent-text, #gain-text, #upgrade-price-text, #wheel-price-text {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

/* Boutons */
button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Bouton principal (click) */
#click-btn {
    font-size: 22px;
    background-color: #4CAF50;
    color: white;
    width: 100%;  /* Prend toute la largeur disponible */
    height: 100%;  /* Prend toute la hauteur disponible */
    margin-top: 20px;
    box-sizing: border-box;
}

/* État hover des boutons */
button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

/* Styles des boutons d'amélioration */
#upgrade-btn {
    background-color: #f44336; /* Rouge par défaut */
}

#upgrade-btn.enabled {
    background-color: #4CAF50; /* Vert lorsque l'amélioration est possible */
}

#upgrade-btn.disabled {
    background-color: #f44336;
    cursor: not-allowed;
}

/* Styles des boutons de roue */
#wheel-btn {
    background-color: #f39c12;
}

#wheel-btn.enabled {
    background-color: #e67e22;
}

#wheel-btn.disabled {
    background-color: #f39c12;
    cursor: not-allowed;
}

/* Hover des boutons */
#click-btn:hover {
    background-color: #45a049;
}

/* Boutons désactivés */
button:disabled {
    opacity: 0.5;
}

/* Message après lancement de la roue */
#message {
    font-size: 20px;
    font-weight: bold;
    color: #2ecc71;
    margin-top: 20px;
}
#auto-gain-box {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

#auto-gain-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

#auto-gain-btn:hover {
    background-color: #2980b9;
}

button:disabled {
    opacity: 0.5;
}
